.array-container {
    position: absolute;
    left: 100px;
    top: 300px;
  }
  
  .array-bar {
    width: 2px;
    display: inline-block;
    margin: 0 1px;
  } 

  .array-circle {
    width: 2px;
    display: inline-block;
    margin: 0 1px;
    border-radius: 50%;
  }